@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --primary: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
}

.phas {
    min-height: 100vh;
    background-image: url("tangle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
}

body {
    min-height: 100vh;
    background-image: url("Patat-of-friet-shutterstock-900-500.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position : fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 65%;
    padding: 16px 32px;
}

.navbar>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
}

.navbar>ul>ul.dropdown li {
    display: block;
}

.navbar>ul>li>ul.dropdown {
    width: 100%;
    background-color: #ff000000;
    position: absolute;
    z-index: 999;
    display: none;
    list-style: none;
}


.navbar>ul>li:hover ul.dropdown {
    display: block;
    background-color: #000000aa;
}


#nav-links a {
    color: #000;
    text-decoration: none;
}

.gamenavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position : fixed;
    width: 100%;
    top: 10%;
    left: 0;
    right: 65%;
    padding: 16px 32px;
    z-index: 10;
    pointer-events: none;
}

.gamenavbar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
}

.gamenavbar ul li {
    pointer-events: auto;
}

section {
    width: 100%;
    float: left;
    height: 100vh;
}

#logo {
    width: 100%;
    font-size: 40px;
    text-decoration: none;
}

#logo:hover {
    cursor: pointer;
}

.underline_text {
    text-decoration-color: transparent;
    text-underline-offset: 8px;
    transition-property: text-decoration-color;
    transition-duration: 1s;
}

.underline_text:hover {
    text-decoration-color: var(--primary);
    transition-property: text-decoration-color;
    transition-duration: 1s;
}

.img_center {
    text-align: center;
    display: block;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.yt-video {
    text-align: center;
    padding-top: 5%;
}

.game-img {
    text-align: center;
    padding-top: 5%;
    aspect-ratio: 16 / 9;
    width: 100% !important;
}

.clickable-img {
    cursor: pointer;
    transition: 0.3s;
    aspect-ratio: 16 / 9;
    width: 50% !important;
}

/* Fullscreen overlay */
#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

#overlay img {
  max-width: 90%;
  max-height: 90%;
}

.video {
    aspect-ratio: 16 / 9;
    width: 50% !important;
}

.game {
    aspect-ratio: 16 / 9;
    width: 60% !important;
}

#home {
    background-color: rgba(255, 255, 255, 0);
}

#siege {
    background-color: rgba(0, 0, 0, 0.5);
}

#cs {
    background-color: rgba(255, 251, 0, 0.5);
}

#valorant {
    background-color: rgba(255, 0, 0, 0.5);
}

h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
}

#tanglewood {
    background-color: rgba(0, 0, 0, 0.5);
}

#edgfield {
    background-color: rgba(0, 0, 0, 0.5);
}

#ridgeview {
    background-color: rgba(0, 0, 0, 0.5);
}

#grafton {
    background-color: rgba(0, 0, 0, 0.5);
}

#willow {
    background-color: rgba(0, 0, 0, 0.5);
}

#pointhope {
    background-color: rgba(0, 0, 0, 0.5);
}

#highschool {
    background-color: rgba(0, 0, 0, 0.5);
}

#bleasdale {
    background-color: rgba(0, 0, 0, 0.5);
}

#highschool {
    background-color: rgba(0, 0, 0, 0.5);
}

#asylum {
    background-color: rgba(0, 0, 0, 0.5);
}

#prison {
    background-color: rgba(0, 0, 0, 0.5);
}

#camp {
    background-color: rgba(0, 0, 0, 0.5);
}

#maple {
    background-color: rgba(0, 0, 0, 0.5);
}

#nells {
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-top: 20px;
}


@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .navbar, .navbar>ul, body, .phas, section, .img_center, .video {
    width: 100%;
  }
  
}

@media only screen and (max-width: 520px) {
  /* For mobile phones: */
  .navbar>ul, .navbar {
    width: 100%;
    flex-direction: row;
  }
  #logo {
    display: none;
  }
  .video {
    aspect-ratio: 9 / 16;
  }
  .yt-video {
    padding-top: 30%;
  }

  .gamenavbar {
    display: none;
  }

  h2 {
    font-size: 15px;
  }

  .game-img {
    padding-top: 50%;
}

}


